<div class="wrapper">
  <div class="side-bar">
    <%= render "categories/side_bar" %>
  </div>
  <div class="main-contents">
    <div class="list-contents">
      <h2 class="title">
        <%= @list.list_title %>/
        <div class="list-category-title">
          <%= @list.category.category_name %>
        </div>
      </h2>
      
      <%# <div>
        <%= link_to "新しいリストを作成する",  new_profile_category_list_path(@user.profile.id, @category.id) %>
      <%# </div> %> %> %>

      <div>
        <%= @list.list_detail%>
      </div>
      <div>
        <% if @list.priority.present? %>
          優先度：<%= @list.priority.name%>
        <% else %>
          優先度： --
        <% end %>
      </div>


      <div>
        <%= link_to "リストを修正する",  edit_profile_category_list_path(@user.profile.id, @category.id, @list.id) %>
      </div>
      <div>
        <%= link_to "リストを削除する",  profile_category_list_path(@user.profile.id, @category.id, @list.id), method: :delete, data: { confirm: '削除を実行すると、リストの情報や設定したリマインド、追加した感想などが全て削除されます。削除を実行しますか？' } %>
      </div>
    </div> 
  </div> 
</div>