<div class="header-logo">
  <%= link_to 'RecoLi', root_path %>
</div>

<%= form_with model: @category, url: profile_categories_path(current_user.profile.id), local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        カテゴリ作成
      </h1>
    </div>

    <%# <%= render 'shared/error_messages', model: @profile %> %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">カテゴリ名※必須</label>
    </div>
    <%= f.text_area  :category_name, class:"input-default", id:"category_name", placeholder:"", maxlength:"20", autofocus: true %>
  </div>

  <div class='register-btn'>
    <%= f.submit "カテゴリ作成" ,class:"register-red-btn" %>
  </div>
<% end %>